page-grupo {
    ion-header{
        .toolbar-background-md {
            background: #ff464b !important;
        }
        ion-title{
            ion-icon{
                margin-right: 8px;
            }
            .toolbar-title-md{
                color: #FFF;
                text-transform: uppercase;
                font-weight: 600 !important;
                font-size: 1.8rem !important;
                padding: 0px;
            }
        }
    }
}
